<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @box.token %>
</p>

<p>
  <strong>User:</strong>
  <%= @box.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @box.title %>
</p>

<p>
  <strong>Privacy level:</strong>
  <%= @box.privacy_level %>
</p>

<p>
  <strong>Box language:</strong>
  <%= @box.box_language %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
